body {
	background-color: rgb(200,200,200);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Quicksand', sans-serif;
}

#title {
	position: fixed;
	font-size: 32px;
	font-weight: bold;
	color: rgb(100,255,100);
	left: -500px;
}

#subTitle {
	position: fixed;
	font-size: 16px;
	top: 50px;
	left: -200px;
	color: rgb(100,255,100);
}

#bar {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	height: 80px;
	width: 0px;
	background-color: rgb(0,0,0);
	opacity: 0.5;
}

#news {
	position: fixed;
	right: -400px;
	width: 400px;
	height: 20px;
	word-wrap: break-word;
	overflow: hidden;
}

#newsContent {
	position: relative;
}

#details {
	position: fixed;
	right: -450px;
	top: 30px;
	color: rgb(100,255,100);
}

#gm, #map {
	font-weight: bold;
	font-size: 10px;
}

#serverImage {
	position: fixed;
	width: 50px;
	height: 50px;
	top: 10px;
	right: -100px;
	background-size: cover;
	border-radius: 10px;
}

#downloading {
	position: fixed;
	top: 60%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-left: -100px;
	margin-top: -50px;
	color: rgb(100,255,100);
}

#status {
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 32px;
	width: 400px;
	height: 400px;
	margin-left: -200px;
	margin-top: -100px;
	color: rgb(255,255,255);
	height: 100px;
	text-align: center;
	word-wrap: none;
}

#playerinfo {
	position: fixed;
	bottom: 20px;
	left: 20px;
	color: rgb(255,255,255);
}

#name {
	color: rgb(100,255,100);
}